*{
    margin: auto;
}

.main {
    width: 400px;
    height: 450px;
}

.header {
    background-color: #141f40;
    width: 400px;
    height: 100px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.left {
    background-color: #80dfa8;
    width: 150px;
    height: 250px;
    float: left;
}

.right {
    background-color: #ff9e6b;
    width: 100px;
    height: 150px;
    float: right;
}

.heart {
    background-color: #dbd400;
    width: 150px;
    height: 50px;
    float: right;
}

.stomach {
    background-color: #0093b7;
    width: 150px;
    height: 100px;
    float: right;
}

.intestine {
    background-color: #8c2727;
    width: 250px;
    height: 100px;
    float: right;
}

.footer {
    background-color: #d98d30;
    width: 400px;
    height: 100px;
}